@import url("https://fonts.googleapis.com/css?family=Lato:400,700");
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
html,
body {
  height: 100%;
}
body {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  
  color: #fff;
}

.clock {
  display: block;
  position: absolute;
  z-index: 9;
  width: 720px;
  height: 128px;
  text-align: center;
  top: -80%;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  cursor: default;
  color: #9e68a6;
}
.clock span {
  display: block;
  position: relative;
  font-size: 128px;
  line-height: 1;
}
.clock.is-off {
  -webkit-animation: is-off 1s linear infinite !important;
          animation: is-off 1s linear infinite !important;
}

.glitch .clock {
  -webkit-transform: skewX(0deg) scaleY(1);
          transform: skewX(0deg) scaleY(1);
  -webkit-animation: clock-bag 3s linear infinite;
          animation: clock-bag 3s linear infinite;
}
.glitch .clock span:before,
.glitch .clock span:after {
  display: block;
  content: attr(data-time);
  position: absolute;
  top: 0;
  color: #fff;
  background: #111;
  overflow: hidden;
  width: 720px;
  height: 128px;
  clip: rect(0, 900px, 0, 0);
}
.glitch .clock span:before {
  left: -2px;
  text-shadow: 2px 0 #00f;
  animation: c2 1s infinite linear alternate-reverse;
}
.glitch .clock span:after {
  left: 3px;
  text-shadow: -2px 0 #f00;
  animation: c1 2s infinite linear alternate-reverse;
}
@-webkit-keyframes is-off {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  56% {
    opacity: 0;
  }
  57% {
    opacity: 0;
  }
  58% {
    opacity: 1;
  }
  71% {
    -webkit-transform: scaleY(1) skewX(0deg);
            transform: scaleY(1) skewX(0deg);
  }
  72% {
    -webkit-transform: scaleY(3) skewX(-60deg);
            transform: scaleY(3) skewX(-60deg);
  }
  73% {
    -webkit-transform: scaleY(1) skewX(0deg);
            transform: scaleY(1) skewX(0deg);
  }
  80% {
    opacity: 1;
  }
  81% {
    opacity: 0;
  }
  84% {
    opacity: 0;
  }
  85% {
    opacity: 1;
  }
  91% {
    -webkit-transform: scaleX(1) scaleY(1) skewX(0deg);
            transform: scaleX(1) scaleY(1) skewX(0deg);
    color: #fff;
  }
  92% {
    -webkit-transform: scaleX(1.5) scaleY(0.2) skewX(80deg);
            transform: scaleX(1.5) scaleY(0.2) skewX(80deg);
    color: #008000;
  }
  93% {
    -webkit-transform: scaleX(1) scaleY(1) skewX(0deg);
            transform: scaleX(1) scaleY(1) skewX(0deg);
    color: #fff;
  }
}
@keyframes is-off {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  56% {
    opacity: 0;
  }
  57% {
    opacity: 0;
  }
  58% {
    opacity: 1;
  }
  71% {
    -webkit-transform: scaleY(1) skewX(0deg);
            transform: scaleY(1) skewX(0deg);
  }
  72% {
    -webkit-transform: scaleY(3) skewX(-60deg);
            transform: scaleY(3) skewX(-60deg);
  }
  73% {
    -webkit-transform: scaleY(1) skewX(0deg);
            transform: scaleY(1) skewX(0deg);
  }
  80% {
    opacity: 1;
  }
  81% {
    opacity: 0;
  }
  84% {
    opacity: 0;
  }
  85% {
    opacity: 1;
  }
  91% {
    -webkit-transform: scaleX(1) scaleY(1) skewX(0deg);
            transform: scaleX(1) scaleY(1) skewX(0deg);
    color: #fff;
  }
  92% {
    -webkit-transform: scaleX(1.5) scaleY(0.2) skewX(80deg);
            transform: scaleX(1.5) scaleY(0.2) skewX(80deg);
    color: #008000;
  }
  93% {
    -webkit-transform: scaleX(1) scaleY(1) skewX(0deg);
            transform: scaleX(1) scaleY(1) skewX(0deg);
    color: #fff;
  }
}
@-webkit-keyframes c1 {
  0% {
    clip: rect(47px, 9999px, 90px, 0);
  }
  5% {
    clip: rect(17px, 9999px, 62px, 0);
  }
  10% {
    clip: rect(80px, 9999px, 73px, 0);
  }
  15.000000000000002% {
    clip: rect(7px, 9999px, 3px, 0);
  }
  20% {
    clip: rect(83px, 9999px, 64px, 0);
  }
  25% {
    clip: rect(53px, 9999px, 50px, 0);
  }
  30.000000000000004% {
    clip: rect(46px, 9999px, 75px, 0);
  }
  35.00000000000001% {
    clip: rect(50px, 9999px, 19px, 0);
  }
  40% {
    clip: rect(80px, 9999px, 5px, 0);
  }
  45% {
    clip: rect(27px, 9999px, 66px, 0);
  }
  50% {
    clip: rect(59px, 9999px, 60px, 0);
  }
  55% {
    clip: rect(43px, 9999px, 30px, 0);
  }
  60.00000000000001% {
    clip: rect(24px, 9999px, 95px, 0);
  }
  65% {
    clip: rect(88px, 9999px, 82px, 0);
  }
  70.00000000000001% {
    clip: rect(59px, 9999px, 85px, 0);
  }
  75% {
    clip: rect(74px, 9999px, 63px, 0);
  }
  80% {
    clip: rect(13px, 9999px, 69px, 0);
  }
  85% {
    clip: rect(60px, 9999px, 82px, 0);
  }
  90% {
    clip: rect(59px, 9999px, 88px, 0);
  }
  95% {
    clip: rect(55px, 9999px, 49px, 0);
  }
  100% {
    clip: rect(87px, 9999px, 29px, 0);
  }
}
@keyframes c1 {
  0% {
    clip: rect(47px, 9999px, 90px, 0);
  }
  5% {
    clip: rect(17px, 9999px, 62px, 0);
  }
  10% {
    clip: rect(80px, 9999px, 73px, 0);
  }
  15.000000000000002% {
    clip: rect(7px, 9999px, 3px, 0);
  }
  20% {
    clip: rect(83px, 9999px, 64px, 0);
  }
  25% {
    clip: rect(53px, 9999px, 50px, 0);
  }
  30.000000000000004% {
    clip: rect(46px, 9999px, 75px, 0);
  }
  35.00000000000001% {
    clip: rect(50px, 9999px, 19px, 0);
  }
  40% {
    clip: rect(80px, 9999px, 5px, 0);
  }
  45% {
    clip: rect(27px, 9999px, 66px, 0);
  }
  50% {
    clip: rect(59px, 9999px, 60px, 0);
  }
  55% {
    clip: rect(43px, 9999px, 30px, 0);
  }
  60.00000000000001% {
    clip: rect(24px, 9999px, 95px, 0);
  }
  65% {
    clip: rect(88px, 9999px, 82px, 0);
  }
  70.00000000000001% {
    clip: rect(59px, 9999px, 85px, 0);
  }
  75% {
    clip: rect(74px, 9999px, 63px, 0);
  }
  80% {
    clip: rect(13px, 9999px, 69px, 0);
  }
  85% {
    clip: rect(60px, 9999px, 82px, 0);
  }
  90% {
    clip: rect(59px, 9999px, 88px, 0);
  }
  95% {
    clip: rect(55px, 9999px, 49px, 0);
  }
  100% {
    clip: rect(87px, 9999px, 29px, 0);
  }
}
@-webkit-keyframes c2 {
  0% {
    clip: rect(55px, 9999px, 88px, 0);
  }
  5% {
    clip: rect(60px, 9999px, 29px, 0);
  }
  10% {
    clip: rect(43px, 9999px, 34px, 0);
  }
  15.000000000000002% {
    clip: rect(38px, 9999px, 28px, 0);
  }
  20% {
    clip: rect(91px, 9999px, 21px, 0);
  }
  25% {
    clip: rect(97px, 9999px, 55px, 0);
  }
  30.000000000000004% {
    clip: rect(55px, 9999px, 82px, 0);
  }
  35.00000000000001% {
    clip: rect(24px, 9999px, 2px, 0);
  }
  40% {
    clip: rect(48px, 9999px, 21px, 0);
  }
  45% {
    clip: rect(46px, 9999px, 46px, 0);
  }
  50% {
    clip: rect(30px, 9999px, 61px, 0);
  }
  55% {
    clip: rect(53px, 9999px, 23px, 0);
  }
  60.00000000000001% {
    clip: rect(100px, 9999px, 79px, 0);
  }
  65% {
    clip: rect(44px, 9999px, 18px, 0);
  }
  70.00000000000001% {
    clip: rect(88px, 9999px, 91px, 0);
  }
  75% {
    clip: rect(68px, 9999px, 43px, 0);
  }
  80% {
    clip: rect(11px, 9999px, 82px, 0);
  }
  85% {
    clip: rect(38px, 9999px, 2px, 0);
  }
  90% {
    clip: rect(100px, 9999px, 92px, 0);
  }
  95% {
    clip: rect(7px, 9999px, 39px, 0);
  }
  100% {
    clip: rect(70px, 9999px, 59px, 0);
  }
  23% {
    -webkit-transform: scaleX(0.8);
            transform: scaleX(0.8);
  }
}
@keyframes c2 {
  0% {
    clip: rect(55px, 9999px, 88px, 0);
  }
  5% {
    clip: rect(60px, 9999px, 29px, 0);
  }
  10% {
    clip: rect(43px, 9999px, 34px, 0);
  }
  15.000000000000002% {
    clip: rect(38px, 9999px, 28px, 0);
  }
  20% {
    clip: rect(91px, 9999px, 21px, 0);
  }
  25% {
    clip: rect(97px, 9999px, 55px, 0);
  }
  30.000000000000004% {
    clip: rect(55px, 9999px, 82px, 0);
  }
  35.00000000000001% {
    clip: rect(24px, 9999px, 2px, 0);
  }
  40% {
    clip: rect(48px, 9999px, 21px, 0);
  }
  45% {
    clip: rect(46px, 9999px, 46px, 0);
  }
  50% {
    clip: rect(30px, 9999px, 61px, 0);
  }
  55% {
    clip: rect(53px, 9999px, 23px, 0);
  }
  60.00000000000001% {
    clip: rect(100px, 9999px, 79px, 0);
  }
  65% {
    clip: rect(44px, 9999px, 18px, 0);
  }
  70.00000000000001% {
    clip: rect(88px, 9999px, 91px, 0);
  }
  75% {
    clip: rect(68px, 9999px, 43px, 0);
  }
  80% {
    clip: rect(11px, 9999px, 82px, 0);
  }
  85% {
    clip: rect(38px, 9999px, 2px, 0);
  }
  90% {
    clip: rect(100px, 9999px, 92px, 0);
  }
  95% {
    clip: rect(7px, 9999px, 39px, 0);
  }
  100% {
    clip: rect(70px, 9999px, 59px, 0);
  }
  23% {
    -webkit-transform: scaleX(0.8);
            transform: scaleX(0.8);
  }
}
@-webkit-keyframes clock-bag {
  0% {
    -webkit-transform: translate(4px, 5px);
            transform: translate(4px, 5px);
  }
  2% {
    -webkit-transform: translate(4px, 3px);
            transform: translate(4px, 3px);
  }
  4% {
    -webkit-transform: translate(4px, 3px);
            transform: translate(4px, 3px);
  }
  6% {
    -webkit-transform: translate(5px, 3px);
            transform: translate(5px, 3px);
  }
  8% {
    -webkit-transform: translate(3px, 1px);
            transform: translate(3px, 1px);
  }
  10% {
    -webkit-transform: translate(3px, 2px);
            transform: translate(3px, 2px);
  }
  12% {
    -webkit-transform: translate(4px, 2px);
            transform: translate(4px, 2px);
  }
  14.000000000000002% {
    -webkit-transform: translate(3px, 4px);
            transform: translate(3px, 4px);
  }
  16% {
    -webkit-transform: translate(3px, 5px);
            transform: translate(3px, 5px);
  }
  18% {
    -webkit-transform: translate(3px, 2px);
            transform: translate(3px, 2px);
  }
  20% {
    -webkit-transform: translate(3px, 4px);
            transform: translate(3px, 4px);
  }
  22% {
    -webkit-transform: translate(3px, 4px);
            transform: translate(3px, 4px);
  }
  24% {
    -webkit-transform: translate(5px, 3px);
            transform: translate(5px, 3px);
  }
  26% {
    -webkit-transform: translate(5px, 4px);
            transform: translate(5px, 4px);
  }
  28.000000000000004% {
    -webkit-transform: translate(1px, 1px);
            transform: translate(1px, 1px);
  }
  30% {
    -webkit-transform: translate(3px, 4px);
            transform: translate(3px, 4px);
  }
  32% {
    -webkit-transform: translate(3px, 5px);
            transform: translate(3px, 5px);
  }
  34% {
    -webkit-transform: translate(1px, 4px);
            transform: translate(1px, 4px);
  }
  36% {
    -webkit-transform: translate(5px, 4px);
            transform: translate(5px, 4px);
  }
  38% {
    -webkit-transform: translate(5px, 4px);
            transform: translate(5px, 4px);
  }
  40% {
    -webkit-transform: translate(1px, 2px);
            transform: translate(1px, 2px);
  }
  42% {
    -webkit-transform: translate(1px, 5px);
            transform: translate(1px, 5px);
  }
  44% {
    -webkit-transform: translate(2px, 3px);
            transform: translate(2px, 3px);
  }
  46.00000000000001% {
    -webkit-transform: translate(4px, 4px);
            transform: translate(4px, 4px);
  }
  48% {
    -webkit-transform: translate(2px, 2px);
            transform: translate(2px, 2px);
  }
  50% {
    -webkit-transform: translate(4px, 4px);
            transform: translate(4px, 4px);
  }
  52% {
    -webkit-transform: translate(4px, 4px);
            transform: translate(4px, 4px);
  }
  54% {
    -webkit-transform: translate(5px, 4px);
            transform: translate(5px, 4px);
  }
  56.00000000000001% {
    -webkit-transform: translate(1px, 2px);
            transform: translate(1px, 2px);
  }
  58% {
    -webkit-transform: translate(5px, 2px);
            transform: translate(5px, 2px);
  }
  60% {
    -webkit-transform: translate(4px, 4px);
            transform: translate(4px, 4px);
  }
  62% {
    -webkit-transform: translate(2px, 1px);
            transform: translate(2px, 1px);
  }
  64% {
    -webkit-transform: translate(5px, 3px);
            transform: translate(5px, 3px);
  }
  66% {
    -webkit-transform: translate(5px, 4px);
            transform: translate(5px, 4px);
  }
  68% {
    -webkit-transform: translate(5px, 1px);
            transform: translate(5px, 1px);
  }
  70.00000000000001% {
    -webkit-transform: translate(5px, 3px);
            transform: translate(5px, 3px);
  }
  72% {
    -webkit-transform: translate(2px, 4px);
            transform: translate(2px, 4px);
  }
  74% {
    -webkit-transform: translate(1px, 2px);
            transform: translate(1px, 2px);
  }
  76% {
    -webkit-transform: translate(2px, 3px);
            transform: translate(2px, 3px);
  }
  78% {
    -webkit-transform: translate(1px, 2px);
            transform: translate(1px, 2px);
  }
  80% {
    -webkit-transform: translate(1px, 1px);
            transform: translate(1px, 1px);
  }
  82.00000000000001% {
    -webkit-transform: translate(2px, 3px);
            transform: translate(2px, 3px);
  }
  84% {
    -webkit-transform: translate(4px, 3px);
            transform: translate(4px, 3px);
  }
  86% {
    -webkit-transform: translate(4px, 3px);
            transform: translate(4px, 3px);
  }
  88% {
    -webkit-transform: translate(2px, 2px);
            transform: translate(2px, 2px);
  }
  90% {
    -webkit-transform: translate(4px, 5px);
            transform: translate(4px, 5px);
  }
  92.00000000000001% {
    -webkit-transform: translate(4px, 4px);
            transform: translate(4px, 4px);
  }
  94% {
    -webkit-transform: translate(3px, 2px);
            transform: translate(3px, 2px);
  }
  96% {
    -webkit-transform: translate(2px, 4px);
            transform: translate(2px, 4px);
  }
  98% {
    -webkit-transform: translate(4px, 5px);
            transform: translate(4px, 5px);
  }
  100% {
    -webkit-transform: translate(4px, 1px);
            transform: translate(4px, 1px);
  }
  1% {
    -webkit-transform: scaleY(1) skewX(0deg);
            transform: scaleY(1) skewX(0deg);
  }
  1.5% {
    -webkit-transform: scaleY(3) skewX(-60deg);
            transform: scaleY(3) skewX(-60deg);
  }
  2% {
    -webkit-transform: scaleY(1) skewX(0deg);
            transform: scaleY(1) skewX(0deg);
  }
  51% {
    -webkit-transform: scaleX(1) scaleY(1) skewX(0deg);
            transform: scaleX(1) scaleY(1) skewX(0deg);
  }
  52% {
    -webkit-transform: scaleX(1.5) scaleY(0.2) skewX(80deg);
            transform: scaleX(1.5) scaleY(0.2) skewX(80deg);
  }
  53% {
    -webkit-transform: scaleX(1) scaleY(1) skewX(0deg);
            transform: scaleX(1) scaleY(1) skewX(0deg);
  }
}
@keyframes clock-bag {
  0% {
    -webkit-transform: translate(4px, 5px);
            transform: translate(4px, 5px);
  }
  2% {
    -webkit-transform: translate(4px, 3px);
            transform: translate(4px, 3px);
  }
  4% {
    -webkit-transform: translate(4px, 3px);
            transform: translate(4px, 3px);
  }
  6% {
    -webkit-transform: translate(5px, 3px);
            transform: translate(5px, 3px);
  }
  8% {
    -webkit-transform: translate(3px, 1px);
            transform: translate(3px, 1px);
  }
  10% {
    -webkit-transform: translate(3px, 2px);
            transform: translate(3px, 2px);
  }
  12% {
    -webkit-transform: translate(4px, 2px);
            transform: translate(4px, 2px);
  }
  14.000000000000002% {
    -webkit-transform: translate(3px, 4px);
            transform: translate(3px, 4px);
  }
  16% {
    -webkit-transform: translate(3px, 5px);
            transform: translate(3px, 5px);
  }
  18% {
    -webkit-transform: translate(3px, 2px);
            transform: translate(3px, 2px);
  }
  20% {
    -webkit-transform: translate(3px, 4px);
            transform: translate(3px, 4px);
  }
  22% {
    -webkit-transform: translate(3px, 4px);
            transform: translate(3px, 4px);
  }
  24% {
    -webkit-transform: translate(5px, 3px);
            transform: translate(5px, 3px);
  }
  26% {
    -webkit-transform: translate(5px, 4px);
            transform: translate(5px, 4px);
  }
  28.000000000000004% {
    -webkit-transform: translate(1px, 1px);
            transform: translate(1px, 1px);
  }
  30% {
    -webkit-transform: translate(3px, 4px);
            transform: translate(3px, 4px);
  }
  32% {
    -webkit-transform: translate(3px, 5px);
            transform: translate(3px, 5px);
  }
  34% {
    -webkit-transform: translate(1px, 4px);
            transform: translate(1px, 4px);
  }
  36% {
    -webkit-transform: translate(5px, 4px);
            transform: translate(5px, 4px);
  }
  38% {
    -webkit-transform: translate(5px, 4px);
            transform: translate(5px, 4px);
  }
  40% {
    -webkit-transform: translate(1px, 2px);
            transform: translate(1px, 2px);
  }
  42% {
    -webkit-transform: translate(1px, 5px);
            transform: translate(1px, 5px);
  }
  44% {
    -webkit-transform: translate(2px, 3px);
            transform: translate(2px, 3px);
  }
  46.00000000000001% {
    -webkit-transform: translate(4px, 4px);
            transform: translate(4px, 4px);
  }
  48% {
    -webkit-transform: translate(2px, 2px);
            transform: translate(2px, 2px);
  }
  50% {
    -webkit-transform: translate(4px, 4px);
            transform: translate(4px, 4px);
  }
  52% {
    -webkit-transform: translate(4px, 4px);
            transform: translate(4px, 4px);
  }
  54% {
    -webkit-transform: translate(5px, 4px);
            transform: translate(5px, 4px);
  }
  56.00000000000001% {
    -webkit-transform: translate(1px, 2px);
            transform: translate(1px, 2px);
  }
  58% {
    -webkit-transform: translate(5px, 2px);
            transform: translate(5px, 2px);
  }
  60% {
    -webkit-transform: translate(4px, 4px);
            transform: translate(4px, 4px);
  }
  62% {
    -webkit-transform: translate(2px, 1px);
            transform: translate(2px, 1px);
  }
  64% {
    -webkit-transform: translate(5px, 3px);
            transform: translate(5px, 3px);
  }
  66% {
    -webkit-transform: translate(5px, 4px);
            transform: translate(5px, 4px);
  }
  68% {
    -webkit-transform: translate(5px, 1px);
            transform: translate(5px, 1px);
  }
  70.00000000000001% {
    -webkit-transform: translate(5px, 3px);
            transform: translate(5px, 3px);
  }
  72% {
    -webkit-transform: translate(2px, 4px);
            transform: translate(2px, 4px);
  }
  74% {
    -webkit-transform: translate(1px, 2px);
            transform: translate(1px, 2px);
  }
  76% {
    -webkit-transform: translate(2px, 3px);
            transform: translate(2px, 3px);
  }
  78% {
    -webkit-transform: translate(1px, 2px);
            transform: translate(1px, 2px);
  }
  80% {
    -webkit-transform: translate(1px, 1px);
            transform: translate(1px, 1px);
  }
  82.00000000000001% {
    -webkit-transform: translate(2px, 3px);
            transform: translate(2px, 3px);
  }
  84% {
    -webkit-transform: translate(4px, 3px);
            transform: translate(4px, 3px);
  }
  86% {
    -webkit-transform: translate(4px, 3px);
            transform: translate(4px, 3px);
  }
  88% {
    -webkit-transform: translate(2px, 2px);
            transform: translate(2px, 2px);
  }
  90% {
    -webkit-transform: translate(4px, 5px);
            transform: translate(4px, 5px);
  }
  92.00000000000001% {
    -webkit-transform: translate(4px, 4px);
            transform: translate(4px, 4px);
  }
  94% {
    -webkit-transform: translate(3px, 2px);
            transform: translate(3px, 2px);
  }
  96% {
    -webkit-transform: translate(2px, 4px);
            transform: translate(2px, 4px);
  }
  98% {
    -webkit-transform: translate(4px, 5px);
            transform: translate(4px, 5px);
  }
  100% {
    -webkit-transform: translate(4px, 1px);
            transform: translate(4px, 1px);
  }
  1% {
    -webkit-transform: scaleY(1) skewX(0deg);
            transform: scaleY(1) skewX(0deg);
  }
  1.5% {
    -webkit-transform: scaleY(3) skewX(-60deg);
            transform: scaleY(3) skewX(-60deg);
  }
  2% {
    -webkit-transform: scaleY(1) skewX(0deg);
            transform: scaleY(1) skewX(0deg);
  }
  51% {
    -webkit-transform: scaleX(1) scaleY(1) skewX(0deg);
            transform: scaleX(1) scaleY(1) skewX(0deg);
  }
  52% {
    -webkit-transform: scaleX(1.5) scaleY(0.2) skewX(80deg);
            transform: scaleX(1.5) scaleY(0.2) skewX(80deg);
  }
  53% {
    -webkit-transform: scaleX(1) scaleY(1) skewX(0deg);
            transform: scaleX(1) scaleY(1) skewX(0deg);
  }
}
@-webkit-keyframes tr-bag {
  0% {
    -webkit-transform: translate(5px, 3px);
            transform: translate(5px, 3px);
  }
  2% {
    -webkit-transform: translate(3px, 1px);
            transform: translate(3px, 1px);
  }
  4% {
    -webkit-transform: translate(1px, 1px);
            transform: translate(1px, 1px);
  }
  6% {
    -webkit-transform: translate(5px, 2px);
            transform: translate(5px, 2px);
  }
  8% {
    -webkit-transform: translate(1px, 1px);
            transform: translate(1px, 1px);
  }
  10% {
    -webkit-transform: translate(1px, 1px);
            transform: translate(1px, 1px);
  }
  12% {
    -webkit-transform: translate(3px, 3px);
            transform: translate(3px, 3px);
  }
  14.000000000000002% {
    -webkit-transform: translate(4px, 1px);
            transform: translate(4px, 1px);
  }
  16% {
    -webkit-transform: translate(5px, 4px);
            transform: translate(5px, 4px);
  }
  18% {
    -webkit-transform: translate(4px, 2px);
            transform: translate(4px, 2px);
  }
  20% {
    -webkit-transform: translate(5px, 2px);
            transform: translate(5px, 2px);
  }
  22% {
    -webkit-transform: translate(1px, 3px);
            transform: translate(1px, 3px);
  }
  24% {
    -webkit-transform: translate(3px, 4px);
            transform: translate(3px, 4px);
  }
  26% {
    -webkit-transform: translate(1px, 5px);
            transform: translate(1px, 5px);
  }
  28.000000000000004% {
    -webkit-transform: translate(4px, 2px);
            transform: translate(4px, 2px);
  }
  30% {
    -webkit-transform: translate(4px, 2px);
            transform: translate(4px, 2px);
  }
  32% {
    -webkit-transform: translate(5px, 5px);
            transform: translate(5px, 5px);
  }
  34% {
    -webkit-transform: translate(2px, 1px);
            transform: translate(2px, 1px);
  }
  36% {
    -webkit-transform: translate(3px, 1px);
            transform: translate(3px, 1px);
  }
  38% {
    -webkit-transform: translate(4px, 2px);
            transform: translate(4px, 2px);
  }
  40% {
    -webkit-transform: translate(5px, 5px);
            transform: translate(5px, 5px);
  }
  42% {
    -webkit-transform: translate(2px, 1px);
            transform: translate(2px, 1px);
  }
  44% {
    -webkit-transform: translate(5px, 2px);
            transform: translate(5px, 2px);
  }
  46.00000000000001% {
    -webkit-transform: translate(4px, 4px);
            transform: translate(4px, 4px);
  }
  48% {
    -webkit-transform: translate(5px, 5px);
            transform: translate(5px, 5px);
  }
  50% {
    -webkit-transform: translate(3px, 2px);
            transform: translate(3px, 2px);
  }
  52% {
    -webkit-transform: translate(3px, 2px);
            transform: translate(3px, 2px);
  }
  54% {
    -webkit-transform: translate(3px, 4px);
            transform: translate(3px, 4px);
  }
  56.00000000000001% {
    -webkit-transform: translate(2px, 3px);
            transform: translate(2px, 3px);
  }
  58% {
    -webkit-transform: translate(3px, 1px);
            transform: translate(3px, 1px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
            transform: translate(2px, 2px);
  }
  62% {
    -webkit-transform: translate(1px, 3px);
            transform: translate(1px, 3px);
  }
  64% {
    -webkit-transform: translate(1px, 3px);
            transform: translate(1px, 3px);
  }
  66% {
    -webkit-transform: translate(4px, 1px);
            transform: translate(4px, 1px);
  }
  68% {
    -webkit-transform: translate(4px, 5px);
            transform: translate(4px, 5px);
  }
  70.00000000000001% {
    -webkit-transform: translate(2px, 1px);
            transform: translate(2px, 1px);
  }
  72% {
    -webkit-transform: translate(4px, 4px);
            transform: translate(4px, 4px);
  }
  74% {
    -webkit-transform: translate(3px, 2px);
            transform: translate(3px, 2px);
  }
  76% {
    -webkit-transform: translate(4px, 3px);
            transform: translate(4px, 3px);
  }
  78% {
    -webkit-transform: translate(3px, 5px);
            transform: translate(3px, 5px);
  }
  80% {
    -webkit-transform: translate(4px, 5px);
            transform: translate(4px, 5px);
  }
  82.00000000000001% {
    -webkit-transform: translate(5px, 4px);
            transform: translate(5px, 4px);
  }
  84% {
    -webkit-transform: translate(1px, 5px);
            transform: translate(1px, 5px);
  }
  86% {
    -webkit-transform: translate(5px, 3px);
            transform: translate(5px, 3px);
  }
  88% {
    -webkit-transform: translate(4px, 2px);
            transform: translate(4px, 2px);
  }
  90% {
    -webkit-transform: translate(2px, 5px);
            transform: translate(2px, 5px);
  }
  92.00000000000001% {
    -webkit-transform: translate(5px, 5px);
            transform: translate(5px, 5px);
  }
  94% {
    -webkit-transform: translate(1px, 3px);
            transform: translate(1px, 3px);
  }
  96% {
    -webkit-transform: translate(2px, 1px);
            transform: translate(2px, 1px);
  }
  98% {
    -webkit-transform: translate(5px, 3px);
            transform: translate(5px, 3px);
  }
  100% {
    -webkit-transform: translate(5px, 5px);
            transform: translate(5px, 5px);
  }
  1% {
    -webkit-transform: scaleY(1) skewX(0deg);
            transform: scaleY(1) skewX(0deg);
  }
  1.5% {
    -webkit-transform: scaleY(3) skewX(-60deg);
            transform: scaleY(3) skewX(-60deg);
  }
  2% {
    -webkit-transform: scaleY(1) skewX(0deg);
            transform: scaleY(1) skewX(0deg);
  }
  51% {
    -webkit-transform: scaleX(1) scaleY(1) skewX(0deg);
            transform: scaleX(1) scaleY(1) skewX(0deg);
  }
  52% {
    -webkit-transform: scaleX(1.5) scaleY(0.2) skewX(80deg);
            transform: scaleX(1.5) scaleY(0.2) skewX(80deg);
  }
  53% {
    -webkit-transform: scaleX(1) scaleY(1) skewX(0deg);
            transform: scaleX(1) scaleY(1) skewX(0deg);
  }
}
@keyframes tr-bag {
  0% {
    -webkit-transform: translate(5px, 3px);
            transform: translate(5px, 3px);
  }
  2% {
    -webkit-transform: translate(3px, 1px);
            transform: translate(3px, 1px);
  }
  4% {
    -webkit-transform: translate(1px, 1px);
            transform: translate(1px, 1px);
  }
  6% {
    -webkit-transform: translate(5px, 2px);
            transform: translate(5px, 2px);
  }
  8% {
    -webkit-transform: translate(1px, 1px);
            transform: translate(1px, 1px);
  }
  10% {
    -webkit-transform: translate(1px, 1px);
            transform: translate(1px, 1px);
  }
  12% {
    -webkit-transform: translate(3px, 3px);
            transform: translate(3px, 3px);
  }
  14.000000000000002% {
    -webkit-transform: translate(4px, 1px);
            transform: translate(4px, 1px);
  }
  16% {
    -webkit-transform: translate(5px, 4px);
            transform: translate(5px, 4px);
  }
  18% {
    -webkit-transform: translate(4px, 2px);
            transform: translate(4px, 2px);
  }
  20% {
    -webkit-transform: translate(5px, 2px);
            transform: translate(5px, 2px);
  }
  22% {
    -webkit-transform: translate(1px, 3px);
            transform: translate(1px, 3px);
  }
  24% {
    -webkit-transform: translate(3px, 4px);
            transform: translate(3px, 4px);
  }
  26% {
    -webkit-transform: translate(1px, 5px);
            transform: translate(1px, 5px);
  }
  28.000000000000004% {
    -webkit-transform: translate(4px, 2px);
            transform: translate(4px, 2px);
  }
  30% {
    -webkit-transform: translate(4px, 2px);
            transform: translate(4px, 2px);
  }
  32% {
    -webkit-transform: translate(5px, 5px);
            transform: translate(5px, 5px);
  }
  34% {
    -webkit-transform: translate(2px, 1px);
            transform: translate(2px, 1px);
  }
  36% {
    -webkit-transform: translate(3px, 1px);
            transform: translate(3px, 1px);
  }
  38% {
    -webkit-transform: translate(4px, 2px);
            transform: translate(4px, 2px);
  }
  40% {
    -webkit-transform: translate(5px, 5px);
            transform: translate(5px, 5px);
  }
  42% {
    -webkit-transform: translate(2px, 1px);
            transform: translate(2px, 1px);
  }
  44% {
    -webkit-transform: translate(5px, 2px);
            transform: translate(5px, 2px);
  }
  46.00000000000001% {
    -webkit-transform: translate(4px, 4px);
            transform: translate(4px, 4px);
  }
  48% {
    -webkit-transform: translate(5px, 5px);
            transform: translate(5px, 5px);
  }
  50% {
    -webkit-transform: translate(3px, 2px);
            transform: translate(3px, 2px);
  }
  52% {
    -webkit-transform: translate(3px, 2px);
            transform: translate(3px, 2px);
  }
  54% {
    -webkit-transform: translate(3px, 4px);
            transform: translate(3px, 4px);
  }
  56.00000000000001% {
    -webkit-transform: translate(2px, 3px);
            transform: translate(2px, 3px);
  }
  58% {
    -webkit-transform: translate(3px, 1px);
            transform: translate(3px, 1px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
            transform: translate(2px, 2px);
  }
  62% {
    -webkit-transform: translate(1px, 3px);
            transform: translate(1px, 3px);
  }
  64% {
    -webkit-transform: translate(1px, 3px);
            transform: translate(1px, 3px);
  }
  66% {
    -webkit-transform: translate(4px, 1px);
            transform: translate(4px, 1px);
  }
  68% {
    -webkit-transform: translate(4px, 5px);
            transform: translate(4px, 5px);
  }
  70.00000000000001% {
    -webkit-transform: translate(2px, 1px);
            transform: translate(2px, 1px);
  }
  72% {
    -webkit-transform: translate(4px, 4px);
            transform: translate(4px, 4px);
  }
  74% {
    -webkit-transform: translate(3px, 2px);
            transform: translate(3px, 2px);
  }
  76% {
    -webkit-transform: translate(4px, 3px);
            transform: translate(4px, 3px);
  }
  78% {
    -webkit-transform: translate(3px, 5px);
            transform: translate(3px, 5px);
  }
  80% {
    -webkit-transform: translate(4px, 5px);
            transform: translate(4px, 5px);
  }
  82.00000000000001% {
    -webkit-transform: translate(5px, 4px);
            transform: translate(5px, 4px);
  }
  84% {
    -webkit-transform: translate(1px, 5px);
            transform: translate(1px, 5px);
  }
  86% {
    -webkit-transform: translate(5px, 3px);
            transform: translate(5px, 3px);
  }
  88% {
    -webkit-transform: translate(4px, 2px);
            transform: translate(4px, 2px);
  }
  90% {
    -webkit-transform: translate(2px, 5px);
            transform: translate(2px, 5px);
  }
  92.00000000000001% {
    -webkit-transform: translate(5px, 5px);
            transform: translate(5px, 5px);
  }
  94% {
    -webkit-transform: translate(1px, 3px);
            transform: translate(1px, 3px);
  }
  96% {
    -webkit-transform: translate(2px, 1px);
            transform: translate(2px, 1px);
  }
  98% {
    -webkit-transform: translate(5px, 3px);
            transform: translate(5px, 3px);
  }
  100% {
    -webkit-transform: translate(5px, 5px);
            transform: translate(5px, 5px);
  }
  1% {
    -webkit-transform: scaleY(1) skewX(0deg);
            transform: scaleY(1) skewX(0deg);
  }
  1.5% {
    -webkit-transform: scaleY(3) skewX(-60deg);
            transform: scaleY(3) skewX(-60deg);
  }
  2% {
    -webkit-transform: scaleY(1) skewX(0deg);
            transform: scaleY(1) skewX(0deg);
  }
  51% {
    -webkit-transform: scaleX(1) scaleY(1) skewX(0deg);
            transform: scaleX(1) scaleY(1) skewX(0deg);
  }
  52% {
    -webkit-transform: scaleX(1.5) scaleY(0.2) skewX(80deg);
            transform: scaleX(1.5) scaleY(0.2) skewX(80deg);
  }
  53% {
    -webkit-transform: scaleX(1) scaleY(1) skewX(0deg);
            transform: scaleX(1) scaleY(1) skewX(0deg);
  }
}
@-webkit-keyframes bg-move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 -32px;
  }
}
@keyframes bg-move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 -32px;
  }
}
